{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h2>Виберіть лабораторну роботу</h2>

<div class="grid">
    {% for lab in labs %}
    <div class="card">
        <h3>Лабораторна робота №{{ lab.number }}</h3>
        <p class="info-text">{{ lab.description }}</p>

        <div class="button-group">
            <a href="{{ lab.url }}" class="btn">
                Перейти до роботи
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

